# Data and DBs
data/
*.parquet
*.duckdb
*.csv

# Model Weights (Crucial to ignore these)
*.pt
*.pth
models/stack2026/

# Logs and Temp files
*.txt
*.log
ml model/build_log*.txt

# Dashboards and OS junk
*.html
.DS_Store
__pycache__/
